.image-previews {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.image-preview {
  position: relative;
}

.thumbnail {
  max-width: 150px;
  height: auto;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-upload-btn {
  margin-bottom: 15px;
}