@import "./variables";

.table-wrapper {
  display: flex;
  flex-direction: column;
}

.mat-elevation-z8 {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12);

  tr {
    background-color: $color-background-grey-1;
  }

  th,
  td {
    vertical-align: middle;
    height: 70px;
  }

  th {
    font-weight: 500;
  }

  td:first-child {
    width: 15%;

    a {
      &:hover {
        color: $color-blue;
      }
    }
  }
}

mat-icon {
  color: rgba(0, 0, 0, 0.7);
}

.status {
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  width: 100px;
}

.status-active {
  background-color: $color-status-active;
}

.status-inactive {
  background-color: $color-status-inactive;
}

.mat-mdc-paginator-outer-container {
  background-color: $color-background-grey-1;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
