$color-blue: #003686;
$color-purple-main: #7467f0;
$color-dark-blue: #333697;
$color-text-gray: #94a3af;
$color-status-active: #32a502;
$color-status-inactive: #ffa700;
$color-hover-gray: #f2f2f2;
$color-box-shadow: #00000026;
$color-background-gradient: linear-gradient(to right, #001d42, #17408d, #1b5deb);
$color-main-blue: #0056b3;
$color-main2-blue: #003369;

$color-background-grey-1: #f4f4f4;

$button-background: linear-gradient(90deg, #2896e9 0%, #7467f0 100%);
$button-background2: linear-gradient(90deg, #a2ff9f 0%, #22fc9e 100%);

$box-shadow-standard: 0 4px 8px rgba(0, 0, 0, 0.3);
