$color-blue-main: #2896E9;
$color-purple-main: #7467F0;
$color-dark-blue: #333697;
$color-text-gray: #94A3AF;
$color-status-active: #32A502;
$color-status-inactive: #FFA700;
$color-hover-gray: #f2f2f2;
$color-box-shadow: #00000026;

$button-background: linear-gradient(180deg,#2896E9 0%, #7467F0 100%);
