@import './../../../../styles/variables';

.search-bar-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 128px;
  max-width: 1050px;
  padding-bottom: 20px;

  .input-with-button {
    position: relative;
    background-color: #ebebeb;
    height: 50px;
    border-radius: 23px;
    width: 95%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    }

    .search-input {
      width: 100%;
      font-size: 1.2rem;
      border-color:#020202
    }

    .searchBtn {
      position: absolute;
      right: 5px;
      top: 6px;
      background: $button-background;
      width: 66px;
      height: 38px;
      border-radius: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      i {
        font-size: 1rem;
        color: #fff;
      }
    }
  }

