<!--Sekcja 1 - Formularz-->
<div class="contact-form">
  <h1>Skontaktuj się z nami</h1>
  <input type="email" placeholder="Napisz do nas wiadomość" aria-label="Email">
  <button type="submit">Wyślij</button>
</div>
<!--Sekcja 2 - Stopka-->
<footer class="footer">
  <div class="footer-brand">
    <img src="./../../../../assets/images/Logo.png" alt="Logo Pixbey">
    <div class="social-links">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-x"></i></a>
    </div>
  </div>
  <div class="footer-contact">
    <p>AdventureSpot to Twoje miejsce na znalezienie najbardziej ekscytujących przygód i podróżniczych inspiracji. Oferujemy szeroki wybór wyjątkowych doświadczeń. Nasza misja to pomaganie Ci w odkrywaniu nowych miejsc i tworzeniu niezapomnianych wspomnień.</p>
  </div>
  <div class="contact-info">
    <div class="footer-links">
      <a routerLink="/about" class="all-products-btn">O nas</a>
      <a routerLink="/contact" class="all-products-btn">Kontakt</a>
      <a routerLink="/user/panel" class="all-products-btn">Panel użytkownika</a>

    </div>

  </div>
</footer>
