@import './../../../styles/variables';
//Sekcja 1 - Formularz
.contact-form {
  z-index: 20;
  position: relative;
  width: 700px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid $color-main2-blue;
  background-color: $color-blue;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: -30px;

  h1{
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.contact-form input[type="email"] {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  color: #000;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.contact-form button {
  padding: 10px 40px;
  margin-left: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s;
}

.contact-form button:hover {
  background-color: $color-main-blue;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
//Sekcja 2 - Stopka Logo-social
.footer {
  position:relative;
  z-index: 10;
  margin: auto;
  background: $color-background-gradient ;
  color: #ffffff;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
}
.footer-brand img {
  height: 100px;
  width: auto;
  margin-bottom: 20px;
}

.social-links a {
  margin: 0 10px;
  color: #0056b3;
  border: 1px solid #ffffff00;
  padding: 10px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  background-color: #ffffff;
}

.social-links a:hover {
  transform: scale(1.3);
}

//Sekcja 3 - opis
.footer-contact {
  background-color: #4b343400;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}
//Sekcja 4 - Przyciski menu
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* Wyśrodkowanie całego kontenera */
  padding: 10px;
}
.footer-links a {
  color: #fcfcfcda;
  padding: 10px 15px;
  margin: 5px 0;
  background-color: #ffffff10;
  transition: transform 0.3s;
  width: 100%;
  text-align: center;
  max-width: 300px;
}

.footer-links a:hover {
  transform: scale(1.05);
}

@media (max-width: 767px) {
  .contact-form {
    display: none;
  }
}

/* Style dla urządzeń o szerokości ekranu 768px lub większej */
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-brand,
  .footer-contact,
  .contact-info,
  .footer-bottom {
    flex: 1;
    margin-bottom: 0;
  }
}
