<div class="container">
  <div class="create-course">
    <div class="course-info">
      <div class="course-wrapper">
        <h2>Stwórz kurs</h2>
        <div class="course-legend created"></div>
        <span class="courses-count">{{userCourses.length}}</span>
        <p class="course-description">Liczba stworzonych kursów</p>
      </div>
      <button class="create-course-btn" (click)="navigateToCreateCourse()"><mat-icon>add</mat-icon></button>
    </div>
    <div class="course-info">
      <div class="course-wrapper">
        <h2>Zarezerwuj kurs</h2>
        <div class="course-legend reserved"></div>
        <span class="courses-count">{{userReservedCourses.length}}</span>
        <p class="course-description">Liczba zarezerwowanych kursów</p>
      </div>
    </div>
  </div>
  <div class="calendar-navigation">
    <button (click)="navigateMonth(-1)"><mat-icon>arrow_back</mat-icon></button>
    <span>{{ getMonthName() }} {{ currentDate.getFullYear() }}</span>
    <button (click)="navigateMonth(1)"><mat-icon>arrow_forward</mat-icon></button>
  </div>
  <div class="calendar-layout">
    <div class="month-view">
      <div class="month-day-labels">
        <div class="month-day-name" *ngFor="let name of dayNames">{{ name }}</div>
      </div>
      <div *ngFor="let day of currentMonth" (click)="setCurrentWeek(day)" [ngClass]="{
          'course-day': hasCoursesOnDate(day, userCourses),
          'reserved-day': hasCoursesOnDate(day, userReservedCourses),
          'current-day': isCurrentDay(day)
          }" class="month-day">
        {{ day.getDate() }}
      </div>
    </div>
    <div class="week-view">
      <div class="week-day-labels">
        <div class="week-day-name" *ngFor="let name of dayNames">{{ name }}</div>
      </div>
      <div *ngFor="let day of currentWeek" class="week-day" [ngClass]="{'current-day': isCurrentDay(day)}">
        <span class="day-numbers-label">{{ day.getDate() }}</span>
        <div *ngFor="let course of getCoursesForDate(day, userCourses)" class="marker course"
          (click)="navigateToCourseDetails(course._id)">
          {{ course.title }}
        </div>
        <div *ngFor="let course of getCoursesForDate(day, userReservedCourses)" class="marker reserved-course"
          (click)="navigateToCourseDetails(course._id)">
          {{ course.title }}
        </div>
      </div>
    </div>
  </div>
</div>
