@import "./../../../../styles/variables";

.container {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  max-width: 1600px;
}

.create-course {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  color: #555555;
  padding: 20px 0;

  .course-info {
    display: flex;
    align-items: center;
    background-color: $color-background-grey-1;
    gap: 40px;
    border-radius: 10px;
    padding: 20px 40px;
  }

  .course-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  h2 {
    color: rgb(29, 27, 27);
    font-size: 21px;
  }

  .create-course-btn {
    background: $button-background;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;

    mat-icon {
      color: white;
    }
  }

  .course-legend {
    display: block;
    width: 100%;
    height: 7px;
  }

  .courses-count {
    font-size: 24px;
  }

  .course-description {
    font-size: 15px;
    color: #a1a1a1;
  }

  .created {
    background: $button-background;
  }

  .reserved {
    background: $button-background2;
  }
}

.calendar-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
  color: #555555;

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
  }

  span {
    font-size: 24px;
    font-weight: bold;
    min-width: 160px;
    text-align: center;
  }
}

.calendar-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;

  .month-view {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    padding: 10px;

    .month-day-labels {
      display: contents;
    }

    .month-day-name {
      padding: 5px;
      text-align: center;
      font-weight: bold;
      color: #555555;
    }

    .month-day {
      background-color: #f0f0f0;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
    }

    .course-day {
      background: $button-background;
      color: white;
    }

    .current-day {
      background-color: #cfcfcf;
    }

    .reserved-day {
      background: $button-background2;
    }
  }

  .week-view {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px 3fr;
    padding: 10px;

    .week-day-labels {
      display: contents;
      border: 1px solid #b1b1b1;
    }

    .week-day-name {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #555555;
      background-color: #cfcfcf;
      text-align: center;
      font-weight: bold;
    }

    .week-day {
      background-color: #fafafa;
      padding: 10px;
      border-top: 1px solid #c0c0c0;
      border-left: 1px solid #c0c0c0;
      border-bottom: 1px solid #c0c0c0;
      display: flex;
      flex-direction: column;
    }

    .week-day:last-child {
      border-right: 1px solid #c0c0c0;
    }

    .day-numbers-label {
      color: #555555;
      align-self: end;
    }

    .course {
      background: $button-background;
    }

    .reserved-course {
      background: $button-background2;
    }

    .marker {
      color: white;
      padding: 10px 2px;
      margin-top: 5px;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
    }

    .current-day {
      background-color: #cfcfcf;
    }
  }
}
