<div class="slider-container">
  <div class="slider-header">
    <h1>Wybierz swoją nową przygodę!</h1>
    <p>Wybierz swoją przygodę i odkryj, gdzie zaprowadzą Cię Twoje decyzje. Każdy ruch otwiera nowe możliwości.<br/>Gotowy na rozpoczęcie?</p>
  </div>
  <div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
      <li class="splide__slide"><img src="assets/images/image1.jpg" alt="Obraz 1"></li>
      <li class="splide__slide"><img src="assets/images/image2.jpg" alt="Obraz 2"></li>
      <li class="splide__slide"><img src="assets/images/image3.jpg" alt="Obraz 3"></li>
      <li class="splide__slide"><img src="assets/images/image4.jpg" alt="Obraz 4"></li>
      <li class="splide__slide"><img src="assets/images/image5.jpg" alt="Obraz 5"></li>
      <li class="splide__slide"><img src="assets/images/image6.jpg" alt="Obraz 6"></li>
      <li class="splide__slide"><img src="./../../assets/images/image7.jpg" alt="Obraz 7"></li>


    </ul>
  </div>
</div>
</div>
