.slider-container {
  margin-top: 50px;
  margin: 0 auto;
  overflow: hidden;
  height: 560px;
}

.slider-header {
  text-align: left;
  padding: 30px;
}

.slider-header h1 {
  font-size: 27px;
  color: #1a1a1a;
  margin-left: 50px;
  padding-top: 70px;
}

.splide {
  margin-top: 0px;

  .splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 10px;
  }

  .splide__slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: scale(2.5);
  }
}
