<div class="container">
  <div class="contact-wrapper">
    <div class="content-column">
      <h1>Skontaktuj się z nami!</h1>
      <p>Masz pytania? Chętnie na nie odpowiemy.</p>
      <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Twoje imię</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="contactForm.get('name')?.errors?.['required']">
            Imię jest wymagane
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Twoj email</mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="contactForm.get('email')?.errors?.['required']">
            Email jest wymagany
          </mat-error>
          <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
            Wprowadź poprawny adres email
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Twoja wiadomość</mat-label>
          <textarea matInput formControlName="message" required></textarea>
          <mat-error *ngIf="contactForm.get('message')?.errors?.['required']">
            Wiadomość jest wymagana
          </mat-error>
        </mat-form-field>
        <button type="submit" class="contact-btn">Wyślij wiadomość</button>
      </form>
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-x"></i></a>
      </div>
    </div>
  </div>
</div>