<div class="container">
  <div class="contact-wrapper">
    <div class="content-column">
      <h1>Skontaktuj się z nami!</h1>
      <p>Masz pytania? Chętnie na nie odpowiemy.</p>
      <form class="contact-form">
        <input type="text" placeholder="Twoje imię" required>
        <input type="email" placeholder="Twój email" required>
        <textarea placeholder="Twoja wiadomość" required></textarea>
        <button type="submit" class="contact-btn">Wyślij wiadomość</button>
      </form>
      <div class="social-media-logos">
        <a href="#"><img src="./../../../../assets/images/facebook.png" alt="Facebook"></a>
        <a href="#"><img src="./../../../../assets/images/twitter.png" alt="Twitter"></a>
        <a href="#"><img src="./../../../../assets/images/instagram.png" alt="Instagram"></a>
      </div>
    </div>
  </div>
</div>
