<aside>
    <div class="brand" routerLink="">
        <img src="../../assets/images/Logo.png" alt="Adventure Sport logo">
        <span class="brandName">AdventureSport</span>
    </div>
    <div class="forwardBtns">
        <a routerLink="courses">
            <button class="asideBtn">
                <i class="fas fa-bars-staggered"></i>
                Lista kursów
            </button>
        </a>
        <a routerLink="purchased">
            <button class="asideBtn">
                <i class="fas fa-cart-shopping"></i>
                Zakupione
            </button>
        </a>
        <a routerLink="payment">
            <button class="asideBtn">
                <i class="fas fa-file-lines"></i>
                Historia płatności
            </button>
        </a>
        <a routerLink="settings">
            <button class="asideBtn">
                <i class="fas fa-gear"></i>
                Ustawienia
            </button>
        </a>
    </div>
    <div class="bottomBtns">
        <button class="bottomBtn">
            <a routerLink="createcourse">Dodaj kurs</a>
        </button>
        <button class="bottomBtn">
            <a routerLink="contact">Kontakt z pomocą</a>
        </button>
    </div>
</aside>
<router-outlet></router-outlet>