<aside>
    <div class="brand">
        <img src="../../assets/images/Logo.png" alt="Adventure Sport logo">
        <span class="brandName">AdventureSport</span>
    </div>
    <div class="forwardBtns">
        <button class="asideBtn">
            <i class="fas fa-bars-staggered"></i>
            Lista kursów
        </button>
        <button class="asideBtn">
            <i class="fas fa-cart-shopping"></i>
            Zakupione
        </button>
        <button class="asideBtn">
            <i class="fas fa-file-lines"></i>
            Historia płatności
        </button>
        <button class="asideBtn">
            <i class="fas fa-gear"></i>
            Ustawienia
        </button>
    </div>
    <div class="bottomBtns">
        <button class="bottomBtn">Dodaj kurs</button>
        <button class="bottomBtn">Kontakt z pomocą</button>
    </div>
</aside>