<aside>
    <div class="brand" routerLink="">
        <img src="../../assets/images/Logo.png" alt="Adventure Sport logo">
        <span class="brandName">AdventureSport</span>
    </div>
    <div class="forwardBtns">
        <button class="asideBtn" routerLink="courses">
            <i class="fas fa-bars-staggered"></i>
            Lista kursów
        </button>
        <button class="asideBtn" routerLink="purchased">
            <i class="fas fa-cart-shopping"></i>
            Zakupione
        </button>
        <button class="asideBtn" routerLink="payment">
            <i class="fas fa-file-lines"></i>
            Historia płatności
        </button>
        <button class="asideBtn" routerLink="settings">
            <i class="fas fa-gear"></i>
            Ustawienia
        </button>
    </div>
    <div class="bottomBtns">
        <button routerLink="createcourse" class="bottomBtn">
            Dodaj kurs
        </button>
        <button routerLink="contact" class="bottomBtn">
            Kontakt z pomocą
        </button>
    </div>
</aside>
<router-outlet></router-outlet>