@import '../../../styles/variables';

/* Styl paska nawigacyjnego */
.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: $box-shadow-standard;

  .left-side {
    display: flex;
    align-items: center;

    .logo {
      width: 90px;
      aspect-ratio: 16/10;
    }

    .brand {
      color: #000000;
      font-size: 1.7rem;
      font-weight: bold;
    }
  }

  .center-side {
    display: flex;
    justify-content: center;

    .nav-link {
      font-size: 1.3rem;
      text-decoration: none;
      padding: 10px 20px;
      text-align: center;
      font: normal normal medium 24px/32px Forma DJR Text;
      letter-spacing: 0.58px;
      color: #000000;
      opacity: 1;
      align-content: center;

      &:hover {
        color: #444444;
      }
    }
  }

  .right-side {
    display: flex;
    justify-content: flex-end;

    .user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      padding: 10px;
      cursor: pointer;
      font-size: 18px;
    }

    .user-avatar {
      border-radius: 50%;
      width: 30px;
      aspect-ratio: 1/1;
      box-shadow: 2px 2px 5px $color-box-shadow;
    }

    .fa-user-circle {
      color: #000000;
      font-size: 1.90rem;
      margin-left: 1rem;
      margin-right: 1rem;
      cursor: pointer;

      &:hover {
        color: #003274;
      }
    }
  }
}

/* Media Query dla urządzeń mobilnych */
@media screen and (max-width: 768px) {
  .center-side {
    display: none !important;
  }
  .center-side.active {
    display: flex !important;
    flex-direction: column;
  }
}


.hamburger-icon {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  .left-side {
    display: flex;
    align-items: center;
  }

  .right-side {
    display: flex;
    align-items: center;
  }

  .hamburger-icon {
    order: 2;
  }

  .user-info {
    order: 1;
    margin-right: auto;
  }
}

}
