@import '../../../styles/variables';

/* Styl paska nawigacyjnego */
.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: $box-shadow-standard;

  .left-side {
    display: flex;
    align-items: center;

    .logo {
      width: 90px;
      aspect-ratio: 16/10;
    }

    .brand {
      color: #000000;
      font-size: 1.7rem;
      font-weight: bold;
    }
  }

  .center-side {
    display: flex;
    justify-content: center;

    .nav-link {
      font-size: 1.3rem;
      text-decoration: none;
      padding: 10px 20px;
      text-align: center;
      font: normal normal medium 24px/32px Forma DJR Text;
      letter-spacing: 0.58px;
      color: #000000;
      opacity: 1;
      align-content: center;

      &:hover {
        color: #444444;
      }
    }
  }

  .right-side {
    display: flex;
    justify-content: flex-end;

    .user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      padding: 10px;
      cursor: pointer;
      font-size: 18px;
    }

    .user-avatar {
      border-radius: 50%;
      width: 30px;
      aspect-ratio: 1/1;
      box-shadow: 2px 2px 5px $color-box-shadow;
    }

    .fa-user-circle {
      color: #000000;
      font-size: 1.90rem;
      margin-left: 1rem;
      margin-right: 1rem;
      cursor: pointer;

      &:hover {
        color: #003274;
      }
    }
  }
}

/* Media Query dla urządzeń mobilnych */
@media (max-width: 768px) {
  .navbar {
      grid-template-columns: 1fr; /* Jednokolumnowy układ */
      padding: 10px 5px; /* Zmniejszony padding */
  }

  .left-side,
  .center-side,
  .right-side {
      display: block; /* Układanie elementów pionowo */
  }

  .left-side .logo {
      width: 60px; /* Mniejszy rozmiar logo */
  }

  .left-side .brand {
      font-size: 1.4rem; /* Mniejszy rozmiar czcionki dla marki */
  }

  .center-side .nav-link {
      font-size: 1rem; /* Mniejszy rozmiar czcionki dla linków nawigacyjnych */
      padding: 5px 10px; /* Zmodyfikowany padding */
      margin: 0 5px; /* Odstępy między linkami */
  }

  .right-side .user-info {
      font-size: 1rem; /* Mniejszy rozmiar czcionki dla informacji o użytkowniku */
  }

  .right-side .user-avatar {
      width: 25px; /* Mniejszy avatar użytkownika */
  }

  .right-side .fa-user-circle {
      font-size: 1.5rem; /* Mniejszy rozmiar ikony */
  }

  .menu-toggle {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: auto;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .show {display: block;}
}
