@import '../../../styles/variables';

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 20px 10px;
  background-color: #fff;

  .left-side {
    display: flex;
    align-items: center;

    .logo {
      width: 90px;
      aspect-ratio: 16/10;
    }

    .brand {
      color: #000000;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .center-side {
    display: flex;
    justify-content: center;

    .nav-link {
      font-size: 18px;
      text-decoration: none;
      padding: 10px 20px;
      text-align: center;
      font: normal normal medium 24px/32px Forma DJR Text;
      letter-spacing: 0.58px;
      color: #000000;
      opacity: 1;
      align-content: center;

      &:hover {
        color: #444444;
      }
    }
  }

  .right-side {
    display: flex;
    justify-content: flex-end;

    .fa-user-circle {
      color: #000000;
      font-size: 1.75rem;
      margin-left: 1rem;
      margin-right: 1rem;
      &:hover {
        color: #003274;
    }
  }
}
}
