<nav class="navbar" *ngIf="showNav">
  <a routerLink="/" class="nav-link">
    <div class="left-side">
      <img src="assets/images/Logo.png" alt="Adventure Sport logo" class="logo"/>
      <span class="brand">AdventureSport</span>
    </div></a>
    <div class="center-side">
      <a routerLink="/" class="nav-link">Strona Główna</a>
      <a routerLink="/about" class="nav-link">O nas</a>
      <a routerLink="/products" class="nav-link">Produkty</a>
      <a routerLink="/contact" class="nav-link">Kontakt</a>
    </div>
    <div class="right-side">
     <!-- <i class="fas fa-search search-icon"></i> --->
      <i class="fas fa-user-circle" routerLink="/user" ></i>
    </div>
</nav>
