<div class="container">
  <div class="login-wrapper">
    <div class="left-column">
      <div class="background-image"></div>
    </div>
    <div class="right-column">
      <h1>Witaj!</h1>
      <p>w Adventure Sport</p>
      <button (click)="loginWithGoogle()" class="google-btn">
        Zaloguj
        <img src="./../../../../assets/images/Google.png" alt="Google Icon" class="google-btn-icon">
      </button>
      <button (click)="loginWithFacebook()" class="facebook-btn">
        Zaloguj
        <img src="./../../../../assets/images/Facebook1.png" alt="Facebook Icon" class="google-btn-icon">
      </button>
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-x"></i></a>
      </div>
    </div>
  </div>
</div>
