<div class="container">
  <div class="login-wrapper">
    <div class="left-column">
      <div class="background-image"></div>
    </div>
    <div class="right-column">
      <h1>Witaj!</h1>
      <p>w Adventure Sport</p>
      <button (click)="login()" class="google-btn">
        Zaloguj za pomocą Google
      </button>
      <button (click)="loginWithFacebook()" class="facebook-btn">
        Zaloguj za pomocą Facebook
      </button>
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-x"></i></a>
      </div>
    </div>
  </div>
</div>
