<!--ONAS-->
<!--Sekcja Header-->
<div class="about-us-container">
  <div class="text-overlay">O Nas</div>
</div>
<!--Sekcja o nas-->
<section class="dream-vanity">
  <div class="content">
    <h2 class="title">Przekraczamy Limity</h2>
    <p class="description">W naszym podejściu do sportów ekstremalnych nie ma miejsca na ograniczenia. Oferujemy
      innowacyjny sprzęt i szkolenia, które otwierają drzwi do świata adrenaliny i przygód. Od surfingu po skoki
      spadochronowe, nasza misja to umożliwienie każdemu bezpiecznego i ekscytującego doświadczenia, niezależnie od
      poziomu umiejętności.</p>
  </div>
  <div class="image-container">
    <img src="/assets/images/image5.jpg" alt="Toaletka" class="vanity-image">
  </div>
</section>

<!--Sekcja o nas2-->
<section class="dream-vanity reverse">
  <div class="content">
    <h2 class="title">Młodzi, Aktywni, Zmotywowani</h2>
    <p class="description">Jako grupa młodych entuzjastów sportów ekstremalnych, zawsze marzyliśmy o miejscu, które
      zgromadzi wszystko, czego potrzebujemy – od sprzętu, przez szkolenia, aż po wspólnotę pasjonatów. Nie znaleźliśmy
      takiego portalu, więc stworzyliśmy go sami. Nasza platforma to owoc wspólnej pasji i pragnienia, aby umożliwić
      każdemu łatwy dostęp do świata ekstremalnych wyzwań i niezapomnianych przygód.</p>
  </div>
  <div class="image-container">
    <img src="/assets/images/image6.jpg" alt="Inny Obraz" class="vanity-image">
  </div>
</section>

<!--Sekcja KimJesteśmy-->
<div class="our-services-container">
  <h2>W czym możemy Ci pomóc?</h2>
  <p>Jesteśmy tu, aby dostarczyć Ci niezapomniane doświadczenia w świecie ekstremalnych sportów.<br /> Nasza firma
    oferuje szeroki zakres usług, dzięki którym możesz realizować swoje pasje i odkrywać nowe ekstremalne sporty. <br />
    Niezależnie od tego, czy jesteś początkującym, czy doświadczonym miłośnikiem adrenaliny, mamy coś dla Ciebie.</p>
  <!--podział na 3 kolumny-->
  <div class="services-items">
    <div class="service-item">
      <img src="assets/images/icon1.png" alt="Service 1">
      <h3>Młodzieńcza Energia</h3>
      <p>Nasza pasja i energia młodości kierują nas w poszukiwaniu najbardziej ekscytujących doświadczeń. Oferujemy
        szeroką gamę sportów ekstremalnych, które zaspokoją pragnienie przygody każdego młodego ducha. Od
        wysokooktanowego BASE jumpingu po wolnością surfowania - odkryj z nami swoje granice.</p>
    </div>
    <div class="service-item">
      <img src="assets/images/icon2.png" alt="Service 2">
      <h3>Kiedy chcesz?</h3>
      <p>Rozumiemy, że prawdziwa pasja nie zna ograniczeń czasowych. Dlatego nasza platforma zapewnia elastyczność,
        pozwalając dostosować harmonogram aktywności do Twojego życia. Realizuj swoje marzenia o sportach ekstremalnych,
        kiedy tylko chcesz, niezależnie od codziennych obowiązków.</p>
    </div>
    <div class="service-item">
      <img src="assets/images/icon3.png" alt="Service 3">
      <h3>Przewodnicy Twojej Pasji</h3>
      <p>Nasz zespół to nie tylko instruktorzy, ale mentorzy i prawdziwi pasjonaci, którzy prowadzą Cię przez każdy krok
        Twojej przygody. Z nami nie tylko przełamiesz swoje bariery, ale zdobędziesz cenne umiejętności i wiedzę, które
        pozwolą Ci cieszyć się sportami ekstremalnymi z pełnym bezpieczeństwem i zaufaniem.</p>
    </div>
  </div>
</div>
<!--Sekcja-Opinie-->
<div class="feedback-section">
  <h2>Opinie naszych Klientów</h2>
  <p>Jesteśmy dumni z naszego doświadczenia w dziedzinie ekstremalnych sportów.<br /> Ale nie musisz nam wierzyć na
    słowo, oto co mówią nasi zadowoleni Klienci.</p>
  <div class="feedback-container">
    <img src="assets/images/icon1.png" alt="Client Image" class="client-image">
    <div class="feedback-content">
      <div class="rating"><!--Gwiazdki--->
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <blockquote><!--Treść opinii-->
        "Strona pokazuje nowe standardy patrzenia na projekt inżynierski, otwartość i szerokie spojrzenie na świat"
      </blockquote><!--Autor-->
      <cite>Ryszard Brzegowy - Opiekun Projektu</cite>
    </div>
  </div>
</div>
<div class="our-services-container">
  <h2>Kim jesteśmy?</h2>
  <p></p>
  <!--podział na 3 kolumny-->
  <div class="services-items">
    <div class="service-item">
      <div class="service-item-person">
        <img src="assets/images/Icon-person.png" alt="about">
        <h3>Jakub Mizera</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quibusdam iure molestiae odit incidunt ullam
          perferendis? Porro, animi exercitationem, voluptatibus, dolor magni quis at facere neque necessitatibus
          perferendis cumque odio.</p>
      </div>
    </div>
    <div class="service-item">
      <div class="service-item-person">
        <img src="assets/images/Icon-person.png" alt="about">
        <h3>Bartosz Łukaszek</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ratione perspiciatis aliquam dicta at eaque
          cumque quibusdam quo, aperiam perferendis fugiat dolores ipsa blanditiis obcaecati laboriosam eligendi
          pariatur illo molestiae!</p>
      </div>
    </div>
    <div class="service-item">
      <div class="service-item-person">
        <img src="assets/images/Icon-person.png" alt="about">
        <h3>Jakub Łypik</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab in magnam impedit nulla quas? Odit aperiam nisi
          reprehenderit suscipit maxime temporibus exercitationem, id sapiente. Praesentium repellat similique delectus
          saepe quis!</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
