<app-user-custom-container>
  <app-custom-header title="Dodaj kurs"></app-custom-header>
  <app-user-form-container [formGroup]="courseForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
      <mat-label>Nazwa</mat-label>
      <input matInput formControlName="title" required>
      <mat-error *ngIf="courseForm.get('title')?.errors?.['required']">
        Nazwa kursu jest wymagana
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Opis kursu</mat-label>
      <input matInput formControlName="description" required>
      <mat-error *ngIf="courseForm.get('description')?.errors?.['required']">
        Opis kursu jest wymagany
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Adres</mat-label>
      <input matInput formControlName="address" required>
      <mat-error *ngIf="courseForm.get('address')?.errors?.['required']">
        Adres jest wymagany
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Cena kursu</mat-label>
      <input type="number" matInput formControlName="price" min="1" required>
      <mat-error *ngIf="courseForm.get('price')?.errors">
        <span *ngIf="courseForm.get('price')?.errors?.['required']">Cena jest wymagana</span>
        <span *ngIf="courseForm.get('price')?.errors?.['min']">Cena musi być większa od 0</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Numer konta bankowego</mat-label>
      <input type="number" matInput formControlName="accountNumber" required>
      <mat-error *ngIf="courseForm.get('accountNumber')?.errors?.['required']">
        Numer konta bankowego jest wymagany
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data wygaśnięcia kursu</mat-label>
      <input matInput [matDatepicker]="pickerExpiration" formControlName="expirationDate" required>
      <mat-datepicker-toggle matSuffix [for]="pickerExpiration"></mat-datepicker-toggle>
      <mat-datepicker #pickerExpiration></mat-datepicker>
      <mat-error *ngIf="courseForm.get('expirationDate')?.errors?.['required']">
        Data wygaśnięcia kursu jest wymagana
      </mat-error>
      <!-- <mat-error *ngIf="courseForm.get('expirationDate')?.errors?.['expirationDateInvalid']">
                Data wygaśnięcia kursu musi być datą z przyszłości
            </mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Kategoria</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of courseCategories" [value]="category.value">
          {{ category.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="courseForm.get('category')?.errors?.['required']">
        Kategoria kursu jest wymagana
      </mat-error>
    </mat-form-field>

    <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" multiple hidden>
    <button mat-stroked-button (click)="fileInput.click()" type="button" class="image-upload-btn">Dodaj zdjęcie...</button>

    <div class="image-previews">
      <div *ngFor="let image of imagePreviews; let i = index" class="image-preview">
        <img [src]="image" class="thumbnail">
        <button (click)="deleteImage(i)" class="delete-button">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!courseForm.valid">Dodaj</button>
  </app-user-form-container>

</app-user-custom-container>