<app-user-custom-container title="Szczegóły kursu">
  <div *ngIf="course" class="course-details">
    <h2>{{ course.title }}</h2>

    <div class="course-info">
      <p>Opis: {{ course.description }}</p>
      <p>Adres: {{ course.address }}</p>
      <p>Cena: {{ course.price }} zł</p>
      <p>Status: {{ course.status }}</p>
      <p>Data wygaśnięcia zapisu: {{ course.expirationDate | date:'mediumDate' }}</p>
      <p>Data odbycia kursu: {{ course.eventDate | date:'mediumDate' }} o godzinie {{ course.eventHour }}</p>
      <p>Liczba dostępnych miejsc: {{ course.courseCapacity }}</p>
      <p>Liczba zarezerwowanych miejsc: {{ reservedSpotsCount }} / {{course.courseCapacity}}</p>
      <p>Kategoria: {{ course.category }}</p>
    </div>

    <img *ngIf="course.images && course.images.length > 0" [src]="course.images[0]" alt="{{ course.title }}">
    <!-- wyświetlić mapę -->
    <h4>Lokalizacja:</h4>
    <div id="map"></div>

    <div *ngIf="course.requirements && course.requirements.length > 0">
      <h4>Wymagania:</h4>
      <ul>
        <li *ngFor="let requirement of course.requirements">{{ requirement }}</li>
      </ul>
    </div>
  </div>

  <div *ngIf="!isCourseOwner">
    <button mat-stroked-button (click)="toggleCourseReservation()" [disabled]="isFullyBooked() && !isEnrolled">
      {{ isEnrolled ? 'Zrezygnuj z miejsca' : 'Rezerwuj miejsce' }}
    </button>
    <div *ngIf="isFullyBooked()">
      <p>Brak dostępnych miejsc na kurs</p>
    </div>
  </div>

  <div *ngIf="isCourseOwner">
    <h3>Użytkownicy zapisani na kurs:</h3>
    <ul>
      <li *ngFor="let user of reservedUsers">
        {{user.displayName}} - {{user.email}} - {{user.phoneNumber}}
      </li>
    </ul>
  </div>

  <div *ngIf="!course">
    <p>Ładowanie szczegółów kursu...</p>
  </div>
</app-user-custom-container>