<div class="contact-form">
  <h1>Skontaktuj się z nami</h1>
  <input type="email" placeholder="Email here" aria-label="Email">
  <button type="submit">Send</button>
</div>
<footer class="footer">
  <div class="footer-brand">
    <img src="./../../../../assets/images/Logo.png" alt="Logo Pixbey">
    <div class="social-links">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-x"></i></a>
    </div>
  </div>
  <div class="footer-contact">
    <h3>Contact Us!</h3>
    <p>There are many variations of passages of Lorem Ipsum but the majority have suffered alteration.</p>
  </div>
  <div class="contact-info">
    <h4>Skontaktuj się z nami!</h4>
    <p>+48 603 848 288</p>
    <p>jakublypik@gmail.com.co</p>
    <p>Kraków</p>
  </div>
</footer>
