<div class="our-services-container">
  <h2>We provide various kind of service for you</h2>
  <p>It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content <br/>Of A Page When Looking At Its Layout. The Point Of Using Lorem </p>
  <div class="services-items">
    <div class="service-item">
      <img src="assets/images/Zdj1.png" alt="Service 1">
      <h3>Service 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum obcaecati iste consequuntur! Consequuntur soluta doloremque fugit quo perspiciatis pariatur</p>
    </div>
    <div class="service-item">
      <img src="assets/images/Zdj2.png" alt="Service 2">
      <h3>Service 2</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia culpa veniam iure eius, nobis, inventore eligendi eum distinctio dolor harum impedit quisquam.</p>
    </div>
    <div class="service-item">
      <img src="assets/images/Zdj3.png" alt="Service 3">
      <h3>Service 3</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quo quaerat deleniti, cumque consequatur eius ex a ipsa facere sint praesentium corrupti cupiditate</p>
    </div>
  </div>
</div>
