<div class="our-services-container">
  <h2>W czym możemy Ci pomóc?</h2>
  <p>Jesteśmy tu, aby dostarczyć Ci niezapomniane doświadczenia w świecie ekstremalnych sportów.<br/> Nasza firma oferuje szeroki zakres usług, dzięki którym możesz realizować swoje pasje i odkrywać nowe ekstremalne sporty. <br/> Niezależnie od tego, czy jesteś początkującym, czy doświadczonym miłośnikiem adrenaliny, mamy coś dla Ciebie.</p>
  <div class="services-items">
    <div class="service-item">
      <img src="assets/images/icon1.png" alt="Service 1">
      <h3>Szeroki wybór</h3>
      <p>Nasza oferta obejmuje szeroki wybór ekstremalnych sportów, od spadochroniarstwa po jazdę na desce. Możesz wybierać spośród różnych dyscyplin i poziomów zaawansowania.</p>
    </div>
    <div class="service-item">
      <img src="assets/images/icon2.png" alt="Service 2">
      <h3>Elastyczność</h3>
      <p>Zdajemy sobie sprawę, że każdy ma inny harmonogram i potrzeby. Dlatego oferujemy elastyczne terminy i dostosowujemy nasze kursy do Twojego planu.</p>
    </div>
    <div class="service-item">
      <img src="assets/images/icon3.png" alt="Service 3">
      <h3>Doświadczeni Instruktorzy </h3>
      <p>Nasi doświadczeni instruktorzy są gotowi podzielić się swoją wiedzą i umiejętnościami. Bezpieczeństwo i satysfakcja naszych uczestników są dla nas priorytetem.</p>
    </div>
  </div>
</div>
<!--Do nowej sekcji tutaj na chwileeeee - KUBAA-->
<div class="feedback-section">
  <h2>Opinie naszych Klientów</h2>
  <p>Jesteśmy dumni z naszego doświadczenia w dziedzinie ekstremalnych sportów.<br />  Ale nie musisz nam wierzyć na słowo, oto co mówią nasi zadowoleni Klienci.</p>
  <div class="feedback-container">
    <img src="assets/images/icon1.png" alt="Client Image" class="client-image">
    <div class="feedback-content">
      <div class="rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <blockquote>
        "Strona pokazuje nowe standardy patrzenia na projekt inżynierski, otwartość i szerokie spojrzenie na świat"
      </blockquote>
      <cite>Ryszard Brzegowy - Opiekun Projektu</cite>
    </div>
  </div>
</div>

