<div class="our-services-container">
  <h2>Our Services</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quibusdam.</p>
  <div class="services-items">
    <div class="service-item">
      <img src="assets/images/image1.jpg" alt="Service 1">
      <h3>Service 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum obcaecati iste consequuntur! Consequuntur soluta doloremque fugit quo perspiciatis pariatur distinctio voluptate, cupiditate ullam modi blanditiis est, magnam tempora ad. Necessitatibus!</p>
    </div>
    <div class="service-item">
      <img src="assets/images/image2.jpg" alt="Service 2">
      <h3>Service 2</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia culpa veniam iure eius, nobis, inventore eligendi eum distinctio dolor harum impedit quisquam. Id eveniet illum ducimus, expedita labore quisquam eius!</p>
    </div>
    <div class="service-item">
      <img src="assets/images/image3.jpg" alt="Service 3">
      <h3>Service 3</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quo quaerat deleniti, cumque consequatur eius ex a ipsa facere sint praesentium corrupti cupiditate possimus rem eveniet minima ipsam voluptatem amet!</p>
    </div>
  </div>
</div>
