.our-services-container {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #eeeeee71;


  h2 {
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: bold;
  }
  p{

    font-size: 1.2em;
    padding-bottom: 35px;
  }

  .services-items {
    display: flex;
    margin: 10px;
    justify-content: center;
    gap: 60px;


    .service-item {
      max-width: 400px;
      min-width: 100px;
      background-color: #ffffff71;
      border-radius: 3%;
      padding: 25px;
      box-shadow: 0 0 50px rgba(112, 112, 112, 0.5);

      img {
        width: 600px;
        height: 200px;
        object-fit: contain;

      }

      h3 {
        font-size: 2em;
        margin: 0.5em 0;
        font-weight: bold;
      }

      p {
        font-size: 1.2em;
      }

    }

  }
}
