@import "./../../../../styles/variables";

.user-container {
  padding: 10px 5%;
}

header {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px;
  font-size: 18px;

  .user-avatar {
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1/1;
    box-shadow: 2px 2px 5px $color-box-shadow;
  }
}


.custom-box {
  display: inline-block;
  background: $button-background;
  border-radius: 20px;
  font-weight: 300;
  padding: 12px 26px;

  .custom-box-title {
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
  }
}