
<section class="sports-courses">
    <h2>Kursy Sportowe</h2>
      <img src="assets/images/icon1.png" alt="Yoga dla początkujących" class="course-image">
      <article class="course">

    <div class="course-container">
            <div class="course-info">
                <p class="description">
                    Zajęcia jogi dla początkujących pomagają osiągnąć harmonię ciała i ducha oraz poprawić elastyczność.
                </p>
                <ul class="course-details">
                    <li>Poziom:</li>
                    <li>Czas trwania:</li>
                    <li>Adres</li>
                    <li>Cena:</li>
                </ul>
                <div class="button-container">
                  <button class="add-to-cart-button">Rezerwuj</button>
                  <button class="add-to-cart-button">Kontakt</button>
              </div>
            </div>
            </div>
          </article>
</section>

