<section class="sports-courses">
  <h2>{{course.title}}</h2>
  <img *ngIf="course.images && course.images.length > 0; else defaultImage" [src]="course.images[0]"
    alt="{{ course.title }}" class="course-image">
  <ng-template #defaultImage>
    <img class="course-image" src="./../../../../assets/images/NoPhoto.png">
  </ng-template>
  <article class="course">

    <div class="course-container">
      <div class="course-info">
        <h3>Szczegóły oferty:</h3>
        <p class="description"><br>
          {{course.description}}
        </p>
        <ul class="course-details">
          <li>Cena: {{course.price}} zł</li>
          <li>Data odbycia: {{course.eventDate}}</li>
          <li>Liczba zarezerwowanych miejsc: {{course.reservedUserIds?.length}} z {{course.courseCapacity}}</li>
          <li *ngIf="isFullyBooked()">Brak dostępnych miejsc</li>
          <li>Lokalizacja:<div id="map"></div></li>
        </ul>
        <div *ngIf="!isCourseOwner" class="button-container">
          <button class="add-to-cart-button" (click)="toggleCourseReservation()"
          [disabled]="isFullyBooked() && !isEnrolled">
          {{ isEnrolled ? 'Zrezygnuj z miejsca' : 'Rezerwuj miejsce'}}
        </button>
        <button class="add-to-cart-button">Kontakt</button>
      </div>
    </div>
  </div>
  </article>
</section>

