<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar">
    <div class="left-side">
      <img src="assets/images/Logo.png" alt="Adventure Sport logo" class="logo" />
      <span class="brand">AdventureSport</span>
    </div>
    <div class="center-side">
      <a routerLink="/" class="nav-link">Home</a>
      <a routerLink="/about" class="nav-link">About</a>
      <a routerLink="/events" class="nav-link">Events</a>
      <a routerLink="/contact" class="nav-link">Contact</a>
    </div>
    <div class="right-side">
      <i class="fas fa-search search-icon"></i>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>
</html>

