@import "./../../../../styles/variables";

header {
  height: 114px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.user-avatar {
  border-radius: 50%;
  width: 30px;
  aspect-ratio: 1/1;
  box-shadow: 2px 2px 5px $color-box-shadow;
}
