<header>
    <div class="search-bar-container">
        <label for="" class="input-with-button">
            <input class="search-input" type="text" placeholder="Wyszukaj..." />
            <button class="searchBtn">
                <i class="fas fa-search"></i>
            </button>
        </label>
    </div>
    <div class="userInfo">
        <div class="avatar">
            <!-- add user avatar img -->
            <img>
        </div>
        <span class="userName">{{userName}}</span>
        <button>
            <i class="fa-solid fa-ellipsis"></i>
        </button>
    </div>
</header>