<header>
  <div *ngIf="currentUser; else loginButton">
    <img *ngIf="currentUser.picture" [src]="currentUser.picture" alt="{{ currentUser.displayName }}"
      class="user-avatar">
    <span class="user-name">Witaj {{ currentUser.displayName }}</span>
    <button mat-button (click)="logout()">
      Wyloguj się
    </button>
  </div>
  <ng-template #loginButton>
    <button mat-icon-button (click)="navigateToLogin()">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </ng-template>
</header>
