<div class="container">
  <aside class="filter-sidebar">
    <div class="filter-section">
      <h2>Filtruj</h2>
      <ul class="filter-list">
        <li><input type="checkbox" id="skydiving" class="filter-option" checked><label for="skydiving"><span>Skoki Spadochronowe</span></label></li>
        <li><input type="checkbox" id="paintball" class="filter-option"><label for="paintball"><span>PaintBall</span></label></li>
        <li><input type="checkbox" id="asg" class="filter-option"><label for="asg"><span>ASG</span></label></li>
        <li><input type="checkbox" id="group-events" class="filter-option"><label for="group-events"><span>Imprezy grupowe</span></label></li>
        <!-- Dodaj więcej filtrów według potrzeb -->
      </ul>
    </div>
  </aside>
  <section class="products">
    <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
    <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
    <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
    <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
    <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
    <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
     <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
  </section>
</div>
