@import "./../../../../styles/variables";
/* Kontener główny */
.container {
  display: flex; /* Ustawienie flexbox dla kontenera */
  max-width: 1200px;
  min-height: calc(100vh - 100px);
  height: fit-content; /* Wysokość dopasowana do zawartości */
  margin: 0 auto; /* Wyśrodkowanie kontenera */
}

/* Stylowanie filtrów */
.filter-sidebar {
  flex: 0 0 250px; /* Szerokość paska filtrów ustawiona na 250px */
  background: #ffffff;
  border-radius: 10px;
  box-shadow: $box-shadow-standard; /* Cień dla paska bocznego */
  padding: 20px;
  margin: 20px;
  height: fit-content; /* Wysokość dopasowana do zawartości */
}

.filter-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.25rem;
}

.filter-option {
  opacity: 0;
  position: absolute;
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Style the label to look like a button with text beside it */
.filter-option + label {
  cursor: pointer;
  display: flex;
  align-items: center; /* Aligns the pseudo-element and text vertically */
  gap: 10px; /* Distance between pseudo-element and text */
  position: relative;
}

/* Custom pseudo-element for radio button appearance */
.filter-option + label:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #ccc; /* Border color */
  border-radius: 12px; /* Makes it round */
  box-sizing: border-box; /* Includes border in the width and height */
}

/* When the radio button is checked, change the pseudo-element appearance */
.filter-option:checked + label:before {
  background: $button-background; /* Background color */
  border-color: #7467f0;
}

/* Optional: Add another pseudo-element for the checkmark inside the pseudo-element */
.filter-option:checked + label:after {
  content: '\2713'; /* Unicode checkmark */
  position: absolute;
  left: 7px; /* Position inside the before pseudo-element */
  top: 5px; /* Position inside the before pseudo-element */
  color: white; /* Checkmark color */
  font-size: 22px; /* Checkmark size */
  line-height: 1;
}

/* Lista produktów */
.products {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

/* Karta produktu */
.product-card {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: calc(33.333% - 20px); /* Szerokość dla trzech kolumn */
  max-height: 400px;
  box-shadow: $box-shadow-standard;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Obraz produktu */
.product-card img {
  max-width: 100%;
  display: block;
  margin: 0 auto 15px;
}

/* Nazwa i cena produktu */
.product-card h3 {
  color: #333;
  margin-bottom: 5px;
}

.product-card .price {
  color: #e55353;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Badge promocji */
.product-card .sale-badge {
  background: #e55353;
  color: #fff;
  font-size: 0.85rem;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
}

/* Przycisk */
.more-button {
  display: inline-block;
  padding: 10px 15px;
  background: #0d6efd;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
}

.more-button:hover {
  background: $color-main-blue;
}
