<div class="container">
  <aside class="filter-sidebar">
    <!-- Filtry -->
    <div class="filter-section">
      <h2>Filtruj</h2>
      <!-- Lista filtrów -->
      <ul class="filter-list">
        <!-- Przykładowe filtry -->
        <li><input type="checkbox" id="skydiving" checked><label for="skydiving">Skoki Spadochronowe</label></li>
        <li><input type="checkbox" id="paintball"><label for="paintball">PaintBall</label></li>
        <li><input type="checkbox" id="skydiving" checked><label for="skydiving">Skoki Spadochronowe</label></li>
        <li><input type="checkbox" id="paintball"><label for="paintball">PaintBall</label></li>
        <li><input type="checkbox" id="skydiving" checked><label for="skydiving">Skoki Spadochronowe</label></li>
        <li><input type="checkbox" id="paintball"><label for="paintball">PaintBall</label></li>
        <li><input type="checkbox" id="skydiving" checked><label for="skydiving">Skoki Spadochronowe</label></li>
        <li><input type="checkbox" id="paintball"><label for="paintball">PaintBall</label></li>
        <!-- Dodaj więcej filtrów -->
      </ul>
    </div>
  </aside>
  <section class="products">
    <!-- Lista produktów -->
    <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
    <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
    <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
    <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
    <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
    <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
     <div class="product-card">
      <img src="assets/images/back.jpg" alt="Nike Air Force 1">
      <h3>Nike Air Force 1</h3>
      <p class="price">$99</p>
    </div>
    <!-- Powtórz dla każdego produktu -->
  </section>
</div>
