<div class="container">
  <aside class="filter-sidebar">
    <div class="filter-section">
      <h2>Filtruj</h2>
      <ul class="filter-list">
        <li>
          <input type="radio" id="all" class="filter-option" name="categoryFilter" [(ngModel)]="selectedCategory" value="All"
            (change)="applyCategoryFilter()">
          <label for="all">Wszystkie</label>
        </li>
        <li *ngFor="let category of courseCategories">
          <input type="radio" [id]="category.key" class="filter-option" name="categoryFilter" [(ngModel)]="selectedCategory"
            [value]="category.value" (change)="applyCategoryFilter()">
          <label [for]="category.key">{{ category.value }}</label>
        </li>
      </ul>
    </div>
  </aside>
  <section class="products">
    <div *ngFor="let course of filteredCourses" [routerLink]="['/products/details', course._id]" class="product-card">
      <div>
        <img *ngIf="course.images && course.images.length > 0; else noImage" [src]="course.images[0]"
          alt="Course image">
        <ng-template #noImage>
          <img src="./../../../../assets/images/NoPhoto.png" alt="No image available">
        </ng-template>
      </div>
      <h3>{{course.title}}</h3>
      <p class="price">{{course.price}}</p>
    </div>
  </section>
</div>
<app-footer></app-footer>
