.slider-container {
  margin-top:50px;
  margin: 0 auto;
  overflow: hidden;
  background-image: linear-gradient(to right, #808080 0%, #FFFFFF 100%);
}

.slider-header {
  text-align: left;
  padding: 20px;
}

.slider-header h1 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

.splide {
  margin-top:50px;


  .splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 20px;
    margin : 0 10px;
  }

  .splide__slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }


}
