@import './../../../../styles/variables';

:host {
  display: grid;
  grid-template-columns: 306px 1fr;
  height: 100vh;
}

router-outlet {
  display: none;
}

aside {
  max-width: 306px;
  display: grid;
  grid-template-rows: 1fr minmax(auto, 600px) 200px;
  box-shadow: 15px 0px 97px -11px $color-box-shadow;

  .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 5px;
    height: 96.25px;
    cursor: pointer;

    .logo {
      width: 90px;
      aspect-ratio: 16/10;
    }

    .brandName {
      font-size: 1.7rem;
      color: black;
      font-weight: bold;
    }
  }

  .forwardBtns {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 19px;
    color: #8d8d8d;
    padding-top: 50px;

    .asideBtn {
      padding: 20px 50px;
      cursor: pointer;
      text-align: center;
      display: flex;
      gap: 10px;
      width: 100%;

      &:hover {
        color: black;
        background-color: $color-hover-gray;
        transition: all 0.1s;
      }
    }
  }

  .bottomBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .bottomBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #226cfc;
      background-color: #dfe9ff;
      font-size: 18px;
      font-weight: 600;
      width: 221px;
      height: 54px;
      padding: 20px;
      text-align: center;
      cursor: pointer;
      border-radius: 7px;
    }
  }
}
