<aside>
  <div class="brand" routerLink="">
    <img src="../../assets/images/Logo.png" alt="Adventure Sport logo">
    <span class="brandName">AdventureSport</span>
  </div>
  <div class="forwardBtns">
    <button class="asideBtn" routerLink="panel">
      <mat-icon class="icon">edit_calendar</mat-icon>
      Panel użytkownika
    </button>
    <button class="asideBtn" routerLink="courses">
      <mat-icon class="icon">list</mat-icon>
      Lista kursów
    </button>
    <button class="asideBtn" routerLink="purchased">
      <mat-icon class="icon">shopping_cart</mat-icon>
      Zakupione
    </button>
    <button class="asideBtn" routerLink="settings">
      <mat-icon class="icon">settings</mat-icon>
      Ustawienia konta
    </button>
  </div>
  <div class="bottomBtns">
    <button routerLink="addcourse" class="bottomBtn">
      Dodaj kurs
    </button>
    <button routerLink="contact" class="bottomBtn">
      Kontakt z pomocą
    </button>
  </div>
</aside>
<router-outlet></router-outlet>
