@import "./../../../../styles/variables";

:host {
  display: block;
  grid-template-columns: 306px 1fr;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
}

router-outlet {
  display: none;
}

aside {
  width: 306px;
  display: grid;
  grid-template-rows: 1fr minmax(auto, 600px) 200px;
  box-shadow: 15px 0px 97px -11px $color-box-shadow;
  height: 100vh;
  overflow: auto;

  .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 5px;
    height: 96.25px;
    cursor: pointer;

    .logo {
      width: 90px;
      aspect-ratio: 16/10;
    }

    .brandName {
      font-size: 1.7rem;
      color: black;
      font-weight: bold;
    }
  }

  .forwardBtns {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 19px;
    color: #8d8d8d;
    padding-top: 50px;

    .asideBtn {
      padding: 20px 50px;
      cursor: pointer;
      text-align: center;
      display: flex;
      gap: 10px;
      width: 100%;

      &:hover {
        color: black;
        background-color: $color-hover-gray;
        transition: all 0.1s;
      }
    }
  }

  .activeBtn {
    color: black;
    background-color: #ebebeb
  }
}
