@import './../../../../styles/variables';

.header {
    display: inline-block;
    background: $button-background;
    border-radius: 20px;
    font-weight: 300;
    padding: 12px 26px;
    margin-bottom: 20px;

    .header-title {
        color: #fff;
        font-size: 1.1rem;
        text-align: center;
    }
}
